<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
    <div id="app">  
        <template v-if="saudation">
            <h1>Welcome</h1>
            <p>Content of Tag <strong>Template</strong></p>
        </template>
        <template v-for="n in 10">
                <p>2x {{ n }} = {{ 2*n}}</p>
        </template>
    </div>
    <script>

    const { createApp } = Vue
    createApp({
        data() {
        return {
            saudation: true
        }
    },
        methods:{

           
  
        }
    }).mount('#app')
    </script>
</body>
</html>